- name: To Fetch file from controller node and copy to destination windows machine
  hosts: win
  gather_facts: no
  vars:
    ansible_connection: "{{ lookup('env', 'WINDOWS_CONNECTION') }}"
    ansible_winrm_transport: "{{ lookup('env', 'WINDOWS_TRANSPORT') }}"
    ansible_winrm_server_cert_validation: "{{ lookup('env', 'WINDOWS_CERT_VALIDATION') }}"
    ansible_user: "{{ lookup('env', 'WINDOWS_USER') }}"
    ansible_password: "{{ lookup('env', 'WINDOWS_PASSWORD') }}"
    ansible_port: "{{ lookup('env', 'WINDOWS_PORT') }}"
#    ansible_become_user: '{{ ansible_user }}'
#    ansible_become_pass: '{{ ansible_password }}'
#C:\\test\\
  tasks:
    - name: Copying file to destination machine.....
      ansible.windows.win_copy:
        src: '\\rbwdcs\dctopunc\sample.txt'
        dest: '\\rbwdcs\berrydfs'
        remote_src: yes
