- name: To Unmount Datastore
  hosts: all
  gather_facts: no
  vars_files:
    - ../vars/datastores_to_remove.yml
    
  tasks:
    - name: Remove/Umount Datastores from a ESXi
      vmware_host_datastore:
        hostname: "bvcewvvc9801.berrylabs.com"
        username: "{{ lookup('env', 'VMWARE_USER') }}"
        password: "{{ lookup('env', 'VMWARE_PASSWORD') }}"
        #esxi_hostname: '{{ inventory_hostname }}'
        datastore_name: "{{ item }}"
        state: absent
      loop: "{{ datastores_to_remove }}"
      delegate_to: localhost