- name: To Copy file from UNC path
  hosts: win
  gather_facts: no
  vars_files:
    - ../vars/auth.yml
    
  tasks:
    - name: Copying file to UNC Path.....
      ansible.windows.win_copy:
        src: '\\rbwdcs\dctopunc\sample.txt'
        dest: '\\rbwscm\oim\'
        remote_src: yes
      vars:
        ansible_become: true
        ansible_become_method: runas
        ansible_become_user: '{{ ansible_user }}'
        ansible_become_password: '{{ ansible_password }}'
        ansible_become_flags: logon_type=new_credentials logon_flags=netcredentials_only